@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

button {
  cursor: pointer;
}

.blured-section {
  position: relative;
  z-index: 0;
}

.blured-section::after, .blured-section::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 40px;
  background: var(--color-blue-100);
  filter: blur(15px);
  pointer-events: none;
  z-index: -20;
}

.blured-section::before {
  top: -10px;
  left: 0;
}

.gallery-grid {
    display: grid;
    grid-template-areas:
      "a a b"
      "c d e";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 1rem;
  }

  .swiper-pagination-fraction {
    color: #ffffff !important;
  }

  .area-a { grid-area: a; }
  .area-b { grid-area: b; }
  .area-c { grid-area: c; }
  .area-d { grid-area: d; }
  .area-e { grid-area: e; }

@theme {
  --breakpoint-xs: 30rem;
  --font-dm: DM Sans, sans-serif;
  --font-rubik: Rubik, sans-serif;
  --color-gray-100: #a3a3a3;
  --color-blue-100: #f5f8ff;
  --color-blue-400: #4965ab;
  --color-blue-500: #242b53;
  --color-red-400: #ff2727;
  --color-red-500: #9a1917;
}
